
<html>
  <head>
       <br><br><br>
      <title>Kid's Center</title><br>
      <link rel=stylesheet type=text/css href="css/Add_Hack_CSS.css">
      <script type="text/javascript" src="save_variables.js"></script>
    
  </head>
  <body>

    <div id="container">
      <div id="page-header">
      <br>
        <h1>Kid's Center</h1>
        <h2>Add Video!</h2>
      </div>

      <form><br>
      <input type="text" name="title" placeholder="Title your Video"><br><br>
            <B>Select A Category</B> <BR>
<SELECT NAME="category">
<OPTION SELECTED> Boys
<OPTION> Girls
<OPTION> Both
<OPTION> Young
<OPTION> Old
<OPTION> Other

</SELECT><br><br>

      <input type="text" name="vid_url" placeholder="Enter video URL here"><br><br>
            <textarea name="description" placeholder="Explain your Video!"></textarea>
        
        <br>

        <input type="submit" onclick="save_variables()">
    
        
        <br>
        
      </form>
      <div class="cancel_btn"> 
      <a href="home.html" class="cancel_btn" role="button">Cancel</a>
      </div>
    </div>

    <footer class="footer">
      
    </footer>

  </body>
</html>